.Experience {
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10px;
}

.e-wrap {
    border: 1px solid #99FFFF;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5%;
}

.maco-e {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.m-img {
    flex: 1;
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding-left: 5%;
}

.maco-content {
    flex: 3;
    padding-left: 5%;
    font-size: 20px;
}

.maco-title {
    font-size: 40px;
    color: #99FFFF;
}

.ga-e {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.ga-content {
    flex: 3;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}

.ga-title {
    font-size: 40px;
    color: #99FFFF;
}

.g-img {
    flex: 1;
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding-right: 5%;
}

@media screen and (max-width: 1700px) {  
    .m-img, .g-img {
        height: 60%;
    }

    .maco-title, .ga-title {
        font-size: 35px;
    }

    .maco-content, .ga-content {
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {  
    .m-img, .g-img {
        height: 50%;
    }

    .maco-title, .ga-title {
        font-size: 30px;
    }

    .maco-content, .ga-content {
        font-size: 13px;
    }
}

@media screen and (max-width: 1070px) {  
    .maco-e, .ga-e {
        height: 20%;
    }
    .m-img, .g-img {
        height: 45%;
    }

    .maco-title, .ga-title {
        font-size: 30px;
    }

    .maco-content, .ga-content {
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {
    .maco-title, .ga-title {
        font-size: 20px;
    }

    .maco-content, .ga-content {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .e-wrap {
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    .maco-title, .ga-title {
        font-size: 15px;
    }

    .maco-content, .ga-content {
        font-size: 8px;
    }
}

@media screen and (max-width: 300px) {
    .m-img, .g-img {
        height: 20%;
    }
    .maco-title, .ga-title {
        font-size: 12px;
    }

    .maco-content, .ga-content {
        font-size: 7px;
    }
}