.Landing {
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.wrap {
    border: 1px solid #99FFFF;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
}
.landing-container {
    /* border: 1px solid #99FFFF; */
    width: 25%;
    padding: 5%;
    margin-bottom: 5%;
    flex: 1;
}


.t1 {
    /* border: 1px solid white; */
    font-size: 20px;
    font-weight: bolder;
}

.t2 {
    color: #99FFFF;
    font-weight: 1000;
    font-size: 100px;
    /* border: 1px solid white; */
}

.t3 {
    /* border: 1px solid white; */
    font-size: 20px;
    font-weight: bolder;
}

.t4 {
    /* border: 1px solid white; */
    font-size: 20px;
    font-weight: bolder;
}

.baji {
    flex: 1;
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
    margin: 5%;
}

@media screen and (max-width: 1500px) {
    .wrap {
        width: 80%;
    }

    .landing-container {
        /* border: 2px solid yellow; */
        padding: 0;
        margin-left: 5%;
    }

    .t2 {
        font-size: 90px;
    }
}

@media screen and (max-width: 1400px) {
    .t1 ,.t3,.t4 {
        font-size: 18px;
    }

    .baji {
        max-width: 350px;
        max-height: 350px;
    }
}

@media screen and (max-width: 1300px) {
    .t1 ,.t3,.t4 {
        font-size: 16px;
    }

}

@media screen and (max-width: 1200px) {
    .t1 ,.t3,.t4 {
        font-size: 15px;
    }

    .baji {
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 1100px) {
    .wrap {
        height: 90%;
    }
    .t1, .t3, .t4 {
        font-size: 14px;
    }
    .t2 {
        font-size: 70px;
    }
    .baji {
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 1000px) {
    .wrap {
        height: 90%;
    }

    .t1, .t3, .t4 {
        font-size: 16px;
    }

    .baji {
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 850px) {
    .wrap {
        width: 90%;
    }
    .baji {
        max-width: 250px;
        max-height: 250px;
    }
}


@media screen and (max-width: 750px) {
    .t1, .t3, .t4 {
        font-size: 12px;
    }

    .t2 {
        font-size: 60px;
    }
}


@media screen and (max-width: 650px) {
    .wrap {
        height: 78%;
    }
    .baji {
        max-width: 220px;
        max-height: 220px;
    }
}

@media screen and (max-width: 600px) {
    .t2 {
        font-size: 50px;
    }
    
    .t1, .t3, .t4 {
        font-size: 11px;
    }
}

@media screen and (max-width: 575px) {
    .baji {
        max-width: 200px;
        max-height: 200px;
    }
}

@media screen and (max-width: 550px) {
    .wrap {
        height: 75%;
    }
    .t1, .t3, .t4 {
        font-size: 10px;
    }
    .t2 {
        font-size: 40px;
    }
    .baji {
        max-width: 175px;
        max-height: 175px;
    }
}

@media screen and (max-width: 500px) {
    .t2 {
        font-size: 35px;
    }
    .baji {
        max-width: 170px;
        max-height: 170px;
    }
}

@media screen and (max-width: 450px) {
    .wrap {
        flex-direction: column;
        height: 90%;
        width: 80%;
    }

    .landing-container {
        width: 90%;
        padding: 0%;
        padding-top: 5%;
        flex: none;

    }

    .t1, .t3, .t4 {
        text-align: center;
    }

    .t2 {
        text-align: center;
        margin: 0%;
    }

    .baji {
        flex: none;
        max-width: 155px;
        max-height: 155px;
    }
}

@media screen and (max-width: 375px) {
    .baji {
        max-width: 110px;
        max-height: 110px;
    }
}

@media screen and (max-width: 300px) {
    .t1, .t4, .t3 {
        font-size: 9px;
    }
    .baji {
        max-width: 120px;
        max-height: 120px;
    }
}



