.Projects {
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10px;
}

.projects-wrap {
    border: 1px solid #99FFFF;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
}

.slider {
    /* flex: 5; */
    width: 650px;
    height: 400px;
    margin-left: 5%;
}

.ProjImg {
    background-image: url(../Images/codenames.png);
    object-fit: cover;
    height: 400px;
}

.project-description {
    /* flex: 4;  */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-wraper {
    padding: 10%;
}

.pd-name {
    color:#99FFFF;
    font-size: 50px;
    font-weight: 500;
}

.pd-icons-container {
    display: flex;
}

.pd-icon {
    width: 40px;
    height: 40px;
    margin: 5%;
}

.links {
    color: #99FFFF;
    text-decoration: none;
}

@media screen and (max-width: 1700px) {
    .projects-wrap {
        width: 90%;
        height: 85%
    }
    .slider {
        width: 50%;
    }
    
}

@media screen and (max-width: 1600px) {
    .pd-description {
        font-size: 15px;
    }
}

@media screen and (max-width: 1300px) {
    .pd-icon {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .ProjImg {
        height: 300px;
        margin-top: 15%;
    }
    .pd-name {
        font-size: 30px;
    }
    .pd-description {
        font-size: 12px;
    }

}

@media screen and (max-width: 700px) {
    .projects-wrap {
        width: 95%;
        height: 95%
    }
    .pd-wraper {
        margin-left: 3%;
    }
}

@media screen and (max-width: 600px) {
    .pd-icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 550px) {
    .projects-wrap {
        flex-direction: column;
    }
    .slider {
        width: 60%;
        margin-left: 0;
        /* height: 200px; */
    }
    .ProjImg {
        height: 150px;
    }

    .pd-wraper {
        padding: 2%;
    }

    .pd-name {
        font-size: 20px;
    }  
    
    .pd-description {
        font-size: 10px;
    }

    .links {
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    .slider {
        width: 75%;
    }
}

@media screen and (max-width: 400px) {
    .slider {
        width: 60%;
        height: 30%;
    }
    .ProjImg {
        height: 100px;
    }

}




